coverage
coverage.json
typechain
.vscode

node_modules

# environment
.env

.eslintcache

.DS_Store

#Hardhat files
cache
artifacts

# private
scripts/bignumberLIB.js
scripts/twamm-execute-details.ts
scripts/twamm-execute.ts
scripts/state-update.ts
scripts/order-update.ts